.list-items {
  margin-top: 2.3rem;
  display: flex;
  flex-direction: column;
  cursor: pointer;
}

.img-wrapper img {
  border-radius: 10px;
  /* transition: border.3s ease-in-out; */
}

.img-wrapper:hover > img {
  border: 3px solid var(--color-red);
}

.img-cart {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--color-rose-50);

  border-radius: 20px;
  position: absolute;
  bottom: 30px;
  left: 50%;
  transform: translateX(-50%);
  padding: 0.85rem 1.2rem;
  width: 50%;
  outline: 2px solid var(--color-rose-400);
  position: relative;
  gap: 0.4rem;
  cursor: pointer;
}

.cart-items {
  display: flex;
  gap: 1rem;
}

.item-quantity {
  display: flex;
  gap: 3.7rem;
}

.item-quantity span {
  color: var(--color-rose-50);
  font-size: 1.1rem;
}

.item-quantity button {
  border-radius: 60%;
  border: none;
  padding: 0.2rem 0.2rem;
  background-color: var(--color-red);
  outline: 2px solid white;

  display: flex;
  align-items: center;
  justify-content: center;
  width: 20px;
}
.item-quantity button img {
  width: 40px;
  object-fit: contain;
}

.items-names {
  display: flex;
  gap: 0.5rem;
  flex-direction: column;
  text-align: left;
}

.items-names span {
  color: var(--color-rose-500);
}

.items-names h3 {
  color: var(--color-rose-900);
}

.items-names h2 {
  color: var(--color-red);
  margin-bottom: 2rem;
}

@media screen and (min-width: 800px) {
  .img-cart {
    padding: 0.45rem 1rem;
  }
}
