.cartItems {
  background-color: var(--color-rose-50);
  padding: 2rem;
  border-radius: 10px;
  /* outline: 1px solid green; */
  /* margin-left: 5rem; */
}

.cart-Items-header {
  color: var(--color-red);
}

.empty-cart {
  display: flex;
  /* outline: 1px solid red; */
  justify-content: center;
  align-items: center;
}

.empty-cart img {
  width: 170px;
}

.empty-cart-wrapper p {
  text-align: center;
  color: var(--color-rose-500);
}

@media screen and (min-width: 800px) {
  .cartItems {
    width: 100%;
    margin-left: 3rem;
  }
}
